.newsfeed-list .x-list-item.x-list-footer-wrap .x-dock-horizontal{
    border-bottom: 0px;
}

.newsfeed-list .x-list-item .x-dock-horizontal{
    border-top: 0px;
}

.newsfeed-list .x-list-item-body{
    padding: 5pt;
}

.newsfeed-list-item{
    padding: 10px;
	background-color: white;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 5px;
    font-size: 90%;
}

.newsfeed-list-item .header{
	width: 100%;
    height: 50px;
	overflow: hidden;
}

.newsfeed-list-item .header .icon{
	float: left;
	width: 60px;
}

.newsfeed-list-item .header .info .date{
	font-size: 70%;
}

.newsfeed-list-item .body{
	font-size: 90%;
}

.newsfeed-list-item .footer{
    height: 15px;
    padding: 4px;
	border-top-style: solid;
	border-top-color: #ddd;
	border-top-width: 1px;
    font-size: 90%;
}